

</body>

<footer>
  <a href="https://twitter.com/"><img class = "link-icon" src="/images/twitter-sign.png" alt="cannot display image" width="25px" height="25px"></a>
  <a href="https://www.facebook.com/"><img class = "link-icon"src="/images/facebook.png" alt="cannot display image" width="25px" height="25px"></a>
  <a href="https://www.instagram.com/the_articulus/"> <img class = "link-icon" src="/images/instagram.png" alt="cannot display image" width="25px" height="25px"></a>
  <br>
  <br>
  Copyright <%=currentYear%> <br> Articulus Creatives <img src="/images/Logo1OG.png" alt="" width="40px" height="40px"> 
</footer>

</html>
