<%- include("header-start") -%>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form action="/login" method="post">
    <h1 class="h3 mb-3 fw-normal">Welcome To Padel Login</h1>
    <h2 class="h3 mb-3 fw-normal">Please Login</h2>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-signin btn-primary" type="submit">Login</button>
    <a href="/register">Don't have an account? <br> Click to register.</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–<%= currentYear%>
    </p>
  </form>
</main>

<%- include("footer") -%>