<%- include("header-start") -%>
<link rel="stylesheet" href="css/welcome.css">
<div class = "flex-container">
<h1 class="welcome-heading flex-item">Welcome To Padel Booking Home</h1>
<br>
<br>
<div class="buttons flex-item">
    <a href="/register">
        <button class="w-40 btn btn-lg btn-primary btn-bg-color btn-register" type="submit">Register</button>
    </a>
    <br>
    <br>
    <a href="/login">
    <button class="w-40 btn btn-lg btn-primary btn-bg-color btn-login" type="submit"> Login </button>
    </a>
</div>
</div>
<br>
<br>
<%- include("footer") -%>