.welcome-heading {
    text-align: center;
}

.buttons {
    text-align: center;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: azure;
}
footer{
    margin-top: auto;
}

.btn-login {
    width: 100%;
    max-width: 290px;
    box-sizing: border-box;
    background-color: black;
    border-color: #00b3db;
}

.btn-register {
    width: 100%;
    max-width: 290px;
    box-sizing: border-box;
    background-color: black;
    border-color: #00b3db;
}

footer{
    text-align: center;
}

body{
    position: relative;
    bottom: 30%
}

.btn-login:hover{
    background-color: #00b3db;
    color: black;
}

.btn-register:hover{
    background-color: #00b3db;
    color: black;
}

.btn-login:active{
    background-color: #00bedb;
}

.btn-register:active{
    background-color: #00bedb;
}

.flex-container {
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

